global
  maxconn 4096
  tune.bufsize 4096
  tune.maxrewrite 512

defaults
  mode http
  timeout connect 2s
  timeout client 5s
  timeout server 5s
  option http-keep-alive

frontend http
  bind *:9999
  default_backend api

backend api
  balance roundrobin
  option httpchk GET /ready
  server api-1 /run/sock/api-1.sock check
  server api-2 /run/sock/api-2.sock check
